<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 topNav">
        <a [ngClass]="{'active': isActive('/home')}" href="home">Home</a>
        <a [ngClass]="{'active': isActive('/game')}" href="game">Play Game</a>
        <a *ngIf="!currentUser" [ngClass]="{'active': isActive('/login')}" href="login">Login</a>
          <div *ngIf="currentUser" class="dropdown ">
            <button class="dropbtn">Settings
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a [ngClass]="{'active': isActive('/admin/questions')}" href="admin/questions">Questions</a>
              <a [ngClass]="{'active': isActive('/admin/sentences')}" href="admin/sentences">Sentences</a>
              <a [ngClass]="{'active': isActive('/admin/categories')}" href="admin/categories">Categories</a>
            </div>
          </div>
        <a [ngClass]="{'active': isActive('/game/scoreboard')}" href="game/scoreboard">Scoreboard</a>
        <a *ngIf="currentUser" href="home" class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
