<div class="container-fluid">
  <div class="col-md-12">
  <div class="login">
    <div class="row">
      <label class="labelText" for="username">Username</label>
      <br/>
      <input type="text"
             id="username"
             name="username"
             placeholder="Your username"
             [(ngModel)]="model.userName"/>
    </div>
  <div>
    <div class="row">
      <label class="labelText" for="password">Password</label>
    </div>
    <div class="row">
      <input type="password"
             id="password"
             name="password"
             placeholder="Your Password"
             [(ngModel)]="model.password"/>
    </div>
  </div>
    <div class="row">
      <button style="animation-delay: 200ms" (click)="login()">
        <span>Login</span>
      </button>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
</div>
