<div class="container-fluid playground ">
  <div class="row text-center">
    <div class="col">
    </div>
    <div class="col-6">
      <h2>Try guessing the sentence below!</h2>
      <br/>
      <br/>
    </div>
    <div class="col">
  </div>
  </div>
  <div class="row text-center">
    <div class="col">
      <div class="column">
        <h3>Your lives:  {{gameState.lives}}</h3>
        <br/>
        <h3>Your score:  {{gameState.score}}  $</h3>
        <br/>
        <h3>Round:  {{gameState.roundsPlayed}}</h3>
        <br/>
        <h3>Category: {{gameState.category.text}}</h3>
      </div>
    </div>
    <div class="col-6">
      <div class="column">
      <h2>{{gameState.currentSentence.sentence}}</h2>
      <br/>
      <br/><br/><br/><br/>
        <div class="card">
          <h4 class="card-header">enter your solution</h4>
          <div class="card-body">
            <form [formGroup]="sentenceForm" (ngSubmit)="guess()">
              <div class="form-group">
                <input placeholder="sentence" type="text" formControlName="sentence" class="form-control" [ngClass]="{ 'is-invalid': f.sentence.value.length >0 && f.sentence.errors}" />
                <div *ngIf=" f.sentence.errors" class="invalid-feedback">
                  <div *ngIf="f.sentence.errors.required">Sentence is required</div>
                  <div *ngIf="f.sentence.errors.pattern">Contains forbidden characters! Only use {{allowedCharacters}}</div>
                </div>
              </div>
              <button class="btn btn-success ">
                Solve
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="playbuttons">
        <button [disabled]="gameState.nothingLeftToGuess" (click)="turnWheel()" type="button" class="btn-success">Turn wheel</button>
        <br/>
        <button [disabled]="gameState.score<400" (click)="buyVocal()" type="button" class="btn-success">Buy vocal (400$)</button>
        <br/>
        <button (click)="endSession()" type="button" class="btn-danger full">End session</button>
      </div>
      </div>
  </div>
</div>
