<h1 mat-dialog-title>Enter a consonant</h1>
<div mat-dialog-content>
  <h4>Winnings per existing character: {{amountAtStake}}$</h4>
  <div class="card">
    <div class="card-body">
      <form [formGroup]="consonantForm" (ngSubmit)="submit()">
        <div class="form-group">
          <input placeholder="consonant" type="text" formControlName="consonant" class="form-control" [ngClass]="{ 'is-invalid':submitted&& f.consonant.errors}" />
          <div *ngIf=" f.consonant.errors" class="invalid-feedback">
            <div *ngIf="f.consonant.errors.required">consonant is required</div>
            <div *ngIf="f.consonant.errors.pattern">Contains forbidden characters! Only use consonants!</div>
            <div *ngIf="f.consonant.errors.maxlength">Only one character allowed!</div>
          </div>
        </div>
        <button class="btn btn-success ">
          Submit
        </button>
      </form>
</div>
  </div>
</div>
