<div class="col-md-6 offset-md-3 mt-5">
  <div class="card" style="margin-top:200px">
    <h4 *ngIf="hasCurrent" class="card-header">Edit category</h4>
    <h4 *ngIf="!hasCurrent" class="card-header">Add category</h4>
    <div class="card-body">
      <form [formGroup]="categoryForm" (ngSubmit)="save()">
        <div class="form-group">
          <input placeholder="text" type="text" formControlName="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.text.errors }" />
          <div *ngIf="submitted && f.text.errors" class="invalid-feedback">
            <div *ngIf="f.text.errors.required">Category is required</div>
            <div *ngIf="f.text.errors.pattern">Contains forbidden characters! Only use {{allowedCharacters}}</div>
          </div>
        </div>
        <button  class="btn btn-success ">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Submit
        </button>
        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
      </form>
    </div>
  </div>
</div>
